.gridContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(215, 221, 234);
  background-image: url("/pawprint.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.gridCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  align-content: center;
  grid-gap: 50px;
}

.gridCard > * {
  background-color: grey;
  height: 200px;
  width: 200px;
}
