.gridContainer {
  display: flex;
  justify-content: center;
  /* width: 50%; */
}

.gridCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-items: center; */
  align-content: center;
  /* place-items: center; */
  /* grid-gap: 2em; */
  grid-gap: 50px;
  /* grid-auto-flow: column; */
  /* grid-template-columns: 186px 186px 186px 186px; */
}

.gridCard > * {
  background-color: grey;
  height: 200px;
  width: 200px;
}
