.goToRegisterPage {
  text-decoration: none;
  color: black;
  font-size: x-small;
}

/*------------LOGIN/LANDING--------*/

.screenHeader {
  margin: 0em auto;
  font-size: 3em;
  font-weight: lighter;
}

.loginPage {
  display: flexbox;
  text-align: center;
  background-color: rgb(215, 221, 234);
  min-height: 120vh;
  margin: auto;
  background-image: url("/pawprint.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  /* opacity: .5; */
}

.question {
  border-radius: 50%;
  background-color: rgb(208, 208, 208);
  width: 1em;
  text-align: center;
  border: 0.1em solid black;
  margin: auto;
}

.loginButton {
  background-color: rgb(234, 115, 118);
  color: white;
  height: 3em;
  width: fit-content;
  border-radius: 2%;
  margin: 2em auto;
  font-size: 1em;
}

/*------------SUBSCRIPTION PAGE------- */

.myhrdata {
  font-size: 0.75em;
  text-align: left;
  margin-left: 2em;
  font-weight: bold;
}

.myhrdataheader {
  background-color: rgb(215, 221, 234);
}

ul {
  list-style-type: circle;
  text-align: left;
  list-style-position: inside;
}

.passwordupdatepage {
  background-color: rgba(255, 0, 0, 0.187);
}

.subscriptionheader {
  text-align: left;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0em;
}

.subscriptionheaderdetails {
  text-align: left;
  font-weight: bold;
  margin-top: 0em;
  margin-bottom: 0em;
}

.subscritioninputs {
  display: flexbox;
}

.inputboxsubs {
  height: 1em;
  margin-bottom: 0em;
  /* width: 30em; */
}

.updateButton {
  background-color: rgb(234, 115, 118);
  color: white;
  height: 2.5em;
  width: 7em;
  border-radius: 13%;
  margin: 2em auto auto 10em;
  font-size: 1em;
}

.uploadpic {
  font-size: 0.75em;
  margin-top: 0em;
}

.socialmedia {
  text-align: left;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}
